body {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
}
body {
	height: 100%;
	margin: 0;
	background-repeat: no-repeat !important;
    	background-attachment: fixed !important;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, a:active, a:visited, a:hover {
	color: inherit;
	text-decoration: none;
}

.content a, .content a:active, .content a:visited, .content a:hover {
	text-decoration: underline;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
}

header {
	margin: 2em 0;
}

.logo {
	font-size: 4em;
	margin-bottom: 0.25em;
	margin-top: 0;
}

.subtitle {
	font-size: 1.5em;
	margin-bottom: 0.667em;
	margin-top: 0;
}

nav ul {
	border: 2px solid black;
	border-width: 2px 0;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1.5em;
}

nav ul li {
	display: inline;
}

nav ul li a {
	display: inline-block;
	padding: 1em;
}

.content {
	margin-top: 2em;
	line-height: 1.5em;
}

p {
	margin-bottom: 1em;
	margin-top: 1em;
}

form input, form textarea {
	font: inherit;
	width: 100%;
	margin: 0;
	margin-bottom: 1em;
	padding: 0.25em;
	border: 1px solid #CCCCCC;
}

form textarea {
	height: 15em;
}

form input[type="submit"] {
	font-size: 1.5em;
	padding: 0.333em;
	background-color: #EEEEEE;
}

.post .title {
	font-size: 2em;
	line-height: 1em;
	margin-bottom: 0.1em;
}

.post .date {
	margin-top: 0;
	font-size: 0.75em;
}

.item .title {
	font-size: 2em;
	line-height: 1em;
	margin-bottom: 0.5em;
}

.item .title a, .item .title a:active, .item .title a:visited, .item .title a:hover,
.post .title a, .post .title a:active, .post .title a:visited, .post .title a:hover,
.pagination a, .pagination a:active, .pagination a:visited, .pagination a:hover {
	text-decoration: none;
}

img {
	width: 100%;
	border: 1px solid #EEEEEE;
}

hr {
	width: 61.803%;
	margin: 1em auto;
}

li.no-dot {
	list-style-type: none;
}

div.extra {
	text-align: right;
	float: right;
	width: 10em;
	color: #999999;
}

.pagination {
	overflow: auto;
	font-weight: bold;
	margin-top: 2em;
	margin-bottom: 2em;
}

.prev {
	float: left;
}
